
.form-group{
    display: block;

    transition-duration: 0.3s;
    min-height: 65vh;


}
.App-header {
    background-color: #eeeeee;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    /*position: fixed;*/
}